@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

:root {
    --font-family: "Raleway", sans-serif;
}

body {
    font-family: var(--font-family);
    background: #fbfbfb;
}

button {
    border: 2px solid #000;
    width: 346px;
    height: 101px;
    letter-spacing: 0.1em;
    background: rgba(217, 217, 217, 0);
}

a {
    color: #000;
}

a:hover {
    color: rgba(0, 0, 0, 62%);
}

a:visited {
    color: #000;
}

.none {
    display: none !important;
}

/* body::before {
    content: "";
    right: 0px;
    margin-top: 1123px;
    display: block;
    position: absolute;

    background-image: url("../img/right-background-el.svg");
    background-size: auto, auto;

    z-index: -1;
} */

/* Header */

/* Navigation */

.navy-item {
    margin: 20px 0 0 40px;
}

.navbar {
    font-size: 24px;
    font-weight: 600;

    display: flex;
    column-gap: 52px;
    align-items: center;
}

header::after {
    content: "";
    right: 58px;
    top: 0;
    display: block;
    position: absolute;
    width: 1023px;
    height: 1080px;

    background-image: url("../img/header/header-img.png");
    background-size: auto, auto;

    z-index: -1;
}

/* Main */

/* About */

#about-wrapper {
    margin: 150px 0 0 123px;
    width: 823px;
    height: 338px;
}

#about-profession {
    font-size: 32px;
    font-weight: 500;
}

#about-name {
    font-size: 128px;
    font-weight: 500;

    text-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
}

#about-call-to-action {
    position: relative;
    margin: 18px 0 0 123px;
    width: 686px;
    height: 364px;
}

#about-call-to-action p {
    font-size: 32px;
    font-weight: 500;
}

#about-call-to-action button {
    margin: 90px 0 61px 0;
    padding: 36px 96px 36px 96px;
    font-size: 24px;
    font-weight: 600;
    transition: transform 0.6s ease;
}

#about-call-to-action a{
    display: block;
    font-size: 24px;
    font-weight: 500;
}

#about-call-to-action::before {
    content: "";
    position: absolute;
    left: -56px;
    width: 2px;
    height: 357px;
    background-color: #000;
}

#about-call-to-action::after {
    content: "";
    position: absolute;
    left: 364px;
    top: 217px;
    width: 61px;
    height: 2px;
    background-color: #000;
    pointer-events: none;
}

#about-call-to-action button:hover {
    transform: scale(1.05);
}

#about-me {
    display: grid;
}

#about-me-img {
    grid-column: 1;
    margin-top: 98px;
    width: 703px;
    height: 1030px;
}

#about-me-block {
    position: relative;
    grid-column: 2;
    margin: 98px 271px 0 0;
    width: 1147px;
    height: 1030px;
}

#about-me-block h1 {
    position: absolute;
    margin: 20px 0 0 552px;
    display: flex;

    font-size: 96px;
    font-weight: 500;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#about-me-block p {
    position: absolute;
    margin: 151px 0 0 53px;
    width: 893px;
    height: 644px;

    font-size: 36px;
    font-weight: 500;
    text-align: right;
    justify-content: right;
    text-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
}

#about-me-block p:nth-of-type(1) br {
    content: "";
    display: block;
    height: 64px;
}

#about-me-block button {
    position: absolute;
    margin: 795px 0 0 600px;
    padding: 36px 96px 36px 96px;
    float: right;
    font-size: 24px;
    font-weight: 600;
    transition: transform 0.6s ease;
}

#about-me-block::after {
    content: "";
    position: absolute;
    margin: 54px 0px 0px 1016px;
    width: 2px;
    height: 840px;
    background-color: #000;
    pointer-events: none;
}

#about-me-block::before {
    content: "";
    position: absolute;
    margin: 845px 0px 0px 524px;
    width: 61px;
    height: 2px;
    background-color: #000;
    pointer-events: none;
}

#about-me-block button:hover {
    transform: scale(1.05);
}
